* {
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: gainsboro;
}

.logo {
    width: 250px;
}

.logo-small {
    position: fixed;
    top: 35px;
    left: 30px;
    height: 100px;
}

.small-userpic {
    position: fixed;
    top: 50px;
    right: 50px;
    height: 75px;
    width: 75px;
    object-fit: cover;
    border: 1px solid black;
}

.userpic {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.container {
    /* position: relative; */
    flex-direction: column;
    text-align: center;
    background-color: hotpink;
    /* height: 100vh; */
}

.components {
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 200px;
    width: 200px; */
    background-color: seagreen;
}

.uploader-container {
    background-color: darkseagreen;
    position: relative;
    margin: 0 auto;
    top: 180px;
    height: 300px;
    width: 500px;
}

textarea {
    width: 250px;
    height: 80px;
}
