* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Digestive";
    src: url("DigestiveDemo-Two.otf");
}

body {
    font-family: "Helvetica", sans-serif;
    background-color: #377e7f;
    /* background-image: url("background.jpg"); */
}

.welcome-container {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.inputs-fields {
    display: flex;
    margin: 15px 10px;
    flex-direction: column;
    align-items: center;
}

input::placeholder {
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputs-fields a {
    color: blue;
}

.inputs-fields button {
    border: 1px gray solid;
    background-color: lightgray;
    margin: 30px;
    width: 100px;
    height: 23px;
    position: relative;
    left: -100px;
    /* top: 50px; */
}

#reset-btn {
    margin: 30px 30px 5px 30px;
}

.login-link {
    position: relative;
    left: -52px;
    margin-top: -20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.password-link {
    position: relative;
    left: -73px;
    margin-top: -20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin: 5px;
    border: 2px solid lightgrey;
    padding: 4px;
    width: 285px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 60px;
    color: black;
    text-transform: uppercase;
    font-family: "Digestive";
    /* font-weight: lighter; */
    margin: 2px 20px 5px 20px;
}

.small-userpic {
    height: 100px;
    width: 100px;
    object-fit: cover;
    padding: 0 2px;
}

.chat-messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
    overflow-y: scroll;
}

.chat-userpic {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 10px;
}

.chat-area {
    display: block;
    margin: 10px auto;
}

.each-msg {
    width: 100%;
    border-bottom: 1.5px solid black;
}

.userpic {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.friends-link {
    color: whitesmoke;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 5%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    justify-content: space-between;
}

.users-link {
    color: whitesmoke;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 15%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    justify-content: space-between;
}

.chat-link {
    color: whitesmoke;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 25%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    justify-content: space-between;
}

.user-info {
    height: 50vh;
    overflow-y: scroll;
}

.my-userpic {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 2px;
}

.user-line {
    margin: 5px 10px;
    font-size: 14px;
}

.reset-line {
    margin: 5px 10px;
    font-size: 14px;
    position: relative;
    left: -46px;
}
.reset-line-one {
    margin: 5px 10px;
    font-size: 14px;
    position: relative;
    left: -38px;
}
.reset-line-two {
    margin: 5px 10px;
    font-size: 14px;
    position: relative;
    left: -56px;
}

.info {
    margin: 7px 10px;
    border: 2px solid lightgrey;
    padding: 4px;
}

.uploader-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.status-btn {
    position: absolute;
    bottom: 10px;
}
.bio-btn {
    background-color: lightgray;
    width: 70px;
    height: 25px;
    margin-top: 30px;
    margin: 10px;
}

.bio-box {
    display: flex;
    flex-direction: column;
}

.each-user p {
    margin: 0 10px;
}

.each-user {
    display: flex;
    border: 1.5px solid black;
    width: 400px;
    padding: 10px;
}

.find-ppl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 13px;
}

textarea {
    width: 250px;
    margin: 7px 10px;
    padding: 4px;
    width: 92%;
    background-color: transparent;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.user-big button {
    color: black;
    position: relative;
    /* position: absolute; */
    top: -57px;
    left: 190px;
    /* background-color: blue; */

    /* padding: 0;
    border: none;
    background: none; */
}

.friends {
    display: flex;
    flex-wrap: wrap;
}

.wannabes {
    display: flex;
    flex-wrap: wrap;
}

.each-friend {
    margin: 15px;
}

.each-friend button {
    background-color: lightgray;
    width: 120px;
    height: 25px;
    margin-top: 30px;
    margin: 10px;
}

.each-friend img {
    padding: 0;
}

.card-wrapper-welcome {
    background-color: whitesmoke;
    position: absolute;
    top: 15%;
    left: 35%;
    z-index: 100;
    border: 3px solid lightgray;
    outline: 1.5px solid black;
}

.card-wrapper-welcome:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1.5px solid black;
}

.card-wrapper-pic {
    background-color: whitesmoke;
    position: absolute;
    top: 5%;
    right: 10%;
    z-index: 100;
    border: 3px solid lightgray;
    outline: 1.5px solid black;
}

.card-wrapper-pic:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1.5px solid black;
}

.card-wrapper-logo {
    background-color: whitesmoke;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 100;
    border: 3px solid lightgray;
    outline: 1.5px solid black;
}

.card-wrapper-logo:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1.5px solid black;
}

.card-wrapper-main {
    background-color: whitesmoke;
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 100;
    border: 3px solid lightgray;
    outline: 1.5px solid black;
}

.main {
    width: 320px;
}

.card-wrapper-main:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1.5px solid black;
}

.card-wrapper-profile {
    background-color: whitesmoke;
    position: absolute;
    bottom: 25%;
    left: 35%;
    z-index: 100;
    border: 3px solid lightgray;
    outline: 1.5px solid black;
}

.card-wrapper-profile:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1.5px solid black;
}

.card-wrapper-wannabe {
    background-color: whitesmoke;
    position: absolute;
    bottom: 30%;
    right: 5%;
    z-index: 100;
    border: 3px solid lightgray;
    outline: 1.5px solid black;
}

.card-wrapper-wannabe:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1.5px solid black;
}

.card-wrapper-friends {
    background-color: whitesmoke;
    position: absolute;
    top: 20%;
    left: 2%;
    z-index: 100;
    border: 3px solid lightgray;
    outline: 1.5px solid black;
}

.card-wrapper-friends:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1.5px solid black;
}

.card-wrapper-search {
    background-color: whitesmoke;
    position: absolute;
    top: 3%;
    right: 15%;
    z-index: 100;
    border: 3px solid lightgray;
    outline: 1.5px solid black;
}

.card-wrapper-search:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1.5px solid black;
}

.card-wrapper-chat {
    background-color: whitesmoke;
    position: absolute;
    top: 3%;
    right: 15%;
    z-index: 100;
    border: 3px solid lightgray;
    outline: 1.5px solid black;
}

.card-wrapper-chat:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1.5px solid black;
}

.card-header {
    cursor: move;
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.card-close {
    background-color: lightgray;
    width: 28px;
    border: 1.5px solid black;
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimize {
    width: 12px;
    height: 1px;
    border: 1.5px black solid;
}

.card-title {
    background-color: #377e7f;
    flex-grow: 2;
    text-align: center;
    color: white;
    line-height: 21px;
    border: 1.5px solid black;
    font-size: 15px;
}
.card-move {
    background-color: lightgray;
    width: 28px;
    border: 1.5px solid black;
    border-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-png {
    width: 20px;
}

.card-content {
    margin-top: 3px;
    border: 1.5 solid black;
}
